version: "3.5"
services:
  app:
    build:
      context: .
      target: dev
    volumes:
    - .:/app
    ports:
      - 3000:3000
    env_file: env
  db:
    image: mysql:latest
    env_file: env
    ports:
      - 3306:3306
